<%= render "books/error_message", book: @book %>
<%= form_with model:book, local:true do |f| %>
  <div class=""><%= f.label :title %></div>
  <div><%= f.text_field :title, class: 'book_title' %></div>

  <div class=""><%= f.label :opinion %></div>
  <div><%= f.text_area :body, class: 'book_opinion' %></div>

  <div class="">
    <%= f.submit class: 'btn btn-primary mt-3' %>
  </div>
<% end %>