<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if user_signed_in? %>

      <%= form_with url: search_path, method: :get, local: true do |search| %>
        <%= search.select 'range' ,options_for_select([['--選択してください--'],['User', '1'], ['Book', '2']]) %>
        <%= search.select 'search', options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"]]) %>
        <%= search.text_field (:word) %>
        <%= search.submit "検索" %>
      <% end %>
    <% end %>
    <p id="notice"><%= notice %></p>
      <main class="container">
        <div class="row">
            <%= yield %>
        </div>
      </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
